<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.gogocamping.model.mapper.CustomerMapper">
<resultMap type="OrderInfoVO" id="orderInfoMap">
	 	<result column="customer_id" property="customerVO.customerId"/>
</resultMap>
<resultMap type="OrderDetailVO" id="orderDetailMap" extends="orderInfoMap">
		<result column="order_no" property="orderInfoVO.orderNo"/>
	 	<result column="order_date" property="orderInfoVO.orderDate"/>
	 	<result column="product_name" property="productVO.productName"/>
	 	<result column="product_img" property="productVO.productImg"/>
	 	<result column="product_id" property="productVO.productId"/>
</resultMap>
<select id="loginCustomer" resultType="CustomerVO" parameterType="string">
	select customer_id, customer_password, customer_name, customer_email, customer_tel, customer_post_number, customer_address, customer_detailed_address, customer_birth
	from customer
	where customer_id=#{customerId}
	and customer_password=#{customerPassword}
</select>
<insert id="registerCustomer" parameterType="customerVO">
	insert into customer(customer_id,customer_name,customer_password,customer_email,customer_tel,customer_post_number,customer_address,customer_detailed_address,customer_birth,customer_regdate)
	values(#{customerId},#{customerName},#{customerPassword},#{customerEmail},#{customerTel},#{customerPostNumber},#{customerAddress},#{customerDetailedAddress},#{customerBirth},sysdate)
</insert>
<select id="findCustomerId" resultType="CustomerVO" parameterType="string">
	select * from customer where customer_id=#{value}
</select>
<select id="findCustomerIdByEmail" resultType="CustomerVO" parameterType="string">
	select customer_id 
	from customer 
	where customer_name=#{customerName}
	and customer_email=#{customerEmail}
</select>
<select id="findCustomerIdByTel" resultType="CustomerVO" parameterType="string">
	select customer_id 
	from customer 
	where customer_name=#{customerName}
	and customer_tel=#{customerTel}
</select>
<select id="findPassword" resultType="CustomerVO" parameterType="customerVO">
	select * from customer where customer_id=#{customerId} and customer_email=#{customerEmail}
</select>
<update id="updatePassword" parameterType="customerVO">
	update customer set customer_password = #{customerPassword} where customer_id = #{customerId}
</update>
<update id="updateInfo" parameterType="customerVO">
	update customer set customer_email=#{customerEmail}, customer_tel=#{customerTel}, customer_post_number=#{customerPostNumber}, customer_address=#{customerAddress}, customer_detailed_address=#{customerDetailedAddress} where customer_id=#{customerId}
</update>

</mapper>