<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.gogocamping.model.mapper.ManagerMapper">
	<select id="managerLogin" resultType="ManagerVO" parameterType="ManagerVO">
		SELECT manager_id, manager_name FROM manager WHERE manager_id = #{managerId} AND manager_password = #{managerPassword}
	</select>

</mapper>