<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.gogocamping.model.mapper.QnAMapper">
<resultMap id="qnaMap" type="QnAVO">
	<result property="productVO.productId" column="product_id"/>
	<result property="customerVO.customerId" column="customer_id" />
</resultMap>

<select id="getQnaListByProductId" parameterType="int" resultMap="qnaMap">
	SELECT * FROM qna WHERE product_id = #{value}
</select>
</mapper>