<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.gogocamping.model.mapper.QnAMapper">
<resultMap id="qnaInfoMap" type="QnAVO">
	<result property="sellerVO.sellerId" column="seller_id"/>
	<result property="customerVO.customerId" column="customer_id"/>
	<result property="customerVO.customerName" column="customer_name"/>
	<result property="customerVO.customerName" column="customer_name"/>
	<result property="productVO.productName" column="product_name"/>
</resultMap>
<resultMap id="qnaListMap" type="QnAVO">
	<result property="customerVO.customerId" column="customer_id"/>
	<result property="customerVO.customerName" column="customer_name"/>
	<result property="customerVO.customerName" column="customer_name"/>
	<result property="productVO.productName" column="product_name"/>
</resultMap>
<select id="getQnAList" resultMap="qnaInfoMap" parameterType="String">
	select q.qna_no, q.title, c.customer_id, c.customer_name, p.product_name, q.content, q.answer, q.qna_category
	from customer c, qna q, product p
	where q.customer_id = c.customer_id
	and q.product_id = p.product_id
	and seller_id = #{sellerId}
</select>
<select id="getQnAListByNo" resultMap="qnaListMap" parameterType="int">
	select q.qna_no, q.title, c.customer_id, c.customer_name, p.product_name, q.content, q.answer, q.qna_category
	from customer c, qna q, product p
	where q.customer_id = c.customer_id
	and q.product_id = p.product_id
	and q.qna_no = #{value}
</select>
<update id="answerQnA" parameterType="QnAVO">
	update qna set answer = #{answer} where qna_no = #{qnaNo}
</update>
</mapper>