<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.gogocamping.model.mapper.SellerMapper">

<select id="getAllBrandList" resultType="SellerVO"> <!-- 브랜드 리스트 조회 -->
select seller_id, brand from seller
</select>

<resultMap type="SellerVO" id="sellerMap">
	<id property="sellerId" column="seller_id"/>
	<result property="sellerId" column="seller_id"/>
	<result property="sellerName" column="seller_name"/>
	<result property="sellerPassword" column="seller_password"/>
	<result property="businessNumber" column="business_number"/>
	<result property="sellerEmail" column="seller_email"/>
	<result property="brand" column="brand"/>
	<result property="sellerTel" column="seller_tel"/>
	<result property="sellerPostNumber" column="seller_post_number"/>
	<result property="sellerAddress" column="seller_address"/>
	<result property="sellerDetailedAddress" column="seller_detailed_address"/>
	<result property="registerAdmin" column="register_admin"/>
</resultMap>

<select id="getSellerNotAdmin" resultMap="sellerMap">
	SELECT * FROM seller WHERE register_admin=0
</select>

<select id="getSellerAdmin" resultMap="sellerMap">
	SELECT * FROM seller WHERE register_admin=1
</select>

<update id="adminSeller" parameterType="String">
	UPDATE seller SET register_admin=1 WHERE seller_id=#{value}
</update>

<insert id="registerSeller" parameterType="SellerVO">
	insert into seller(seller_id, seller_password, seller_name, business_number, seller_email, brand, logo_img, logo_img_stored, seller_tel, seller_post_number, seller_address, seller_detailed_address, register_admin) 
	values(#{sellerId}, #{sellerPassword}, #{sellerName}, #{businessNumber}, #{sellerEmail}, #{brand}, #{logoImg}, #{logoImgStored}, #{sellerTel}, #{sellerPostNumber}, #{sellerAddress}, #{sellerDetailedAddress}, 0)
</insert>
<select id="loginSeller" resultType="SellerVO" parameterType="SellerVO">
	select seller_id, seller_password, seller_name, business_number, seller_email, brand, logo_img, logo_img_stored, seller_tel, seller_post_number, seller_address, seller_detailed_address, register_admin
	from seller where seller_id=#{sellerId} and seller_password=#{sellerPassword}
</select>
<select id="findSellerById" resultType="SellerVO">
	select seller_id from seller where seller_id=#{value}
</select>
<select id="findSellerIdByBusinessNo" resultType="String" parameterType="sellerVO">
	select seller_id from seller where seller_name=#{sellerName} and business_number=#{businessNumber}
</select>
<select id="findSellerPwByBusinessNo" resultType="SellerVO" parameterType="sellerVO">
	select * from seller where seller_id=#{sellerId} and seller_name=#{sellerName} and business_number=#{businessNumber}	
</select>
<update id="updatePassword" parameterType="customerVO">
	update seller set seller_password = #{sellerPassword} where seller_id = #{sellerId}
</update>
</mapper>
